body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-image: url(images/drew-coffman-1872.jpg);

}

.backgroundd {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.login-container,
.signup-container {
    width: 400px;
    margin: 200px auto;
    padding: 20px;
    /* border: 2.5px solid #ccc; */
    border-radius: 4%;
    background-color: rgba(0, 0, 0, 0.2);
}

.login-container fieldset ,
.signup-container fieldset {
    border-radius: 4%;
    border-width: 2.5px;
    padding: 20px;
    /* border: none; */
}

.login-container legend,
.signup-container legend {
    font-size: 1.9em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
    font-family: "Alegreya Sans", sans-serif;
}

.login-container input,
.signup-container input {
    width: 80%;
    padding: 4px;
    margin: 6px 29px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

label {
    color: #fff;
    font-size: 1.2em;
    padding-left: 8%;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: bold;
}

.login-button,
.signup {
    padding: 9px 2px;
    margin-top: 10px;
    background-color: #8e7754;
    border-style: solid;
    border-color: #8e7754;
    border-radius: 4px;
    width: 90px;
    height: 40px;
    font-weight: 700;
    font-family: "Alegreya Sans", sans-serif;
    font-size: medium;
    color: white;
    margin-left: 38%;
    cursor: pointer;
}

p {
    padding: 5%;
    font-weight: 700;
    font-family: "Alegreya Sans", sans-serif;
    font-size: medium;
    color: white;
    margin-left: 5.8%;
    display: inline-block;

}

a {
    font-weight: 700;
    font-family: "Alegreya Sans", sans-serif;
    font-size: medium;
    color: white;
    margin-left: 5.8%;
    cursor: pointer;
    width: fit-content;
}

.signup-container input {
    padding: 4px;
    width: 35%;
    
}

.signup-container {
    width: 600px;
}

.signup-container label {
    padding-left: 5%;
}

.address {
    margin-left: 180px;
}
.email {
    margin-left: 143px;
}
.signup{
    margin-left: 42%;
}