body {
    margin: 0;
}

.background {
    background-image: url(images/drew-coffman-1872.jpg);
    height: 1200px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3.4%;
    margin-top: -55.1%;


}

.backgroundd {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 1200px;
    margin-top: -59.79%;
}

.bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    padding-bottom:1%;
    z-index: 12;
}

.logo {
    /* background-color: aqua; */
    display: inline-block;
    margin-left: 10.2%;
    padding-top: 20px;
    vertical-align: top;
}

a:hover {
    color: #161616;
    transition: 0.5s;
    font-weight: normal;

}

a:visited {
    color: none;
}

.lil {
    width: 50%;
    display: inline-block;
    margin-left: 23.3%;
    padding-left: 2%;
    padding-top: 16px;


}

a {
    text-decoration: none;
    display: inline-block;
    padding-left: 25px;
    font-size: 17px;
    color:grey;
    font-family: "Alegreya", serif;
    width: fit-content;
    font-weight: normal;
}

.l3 {
    display: inline-block;
}

.li1 {
    margin-left: 23%;
}

.middle {
    margin: 67.8% auto;
    color: #ffffff;
    width: 30%;
    text-align: center;
    margin-left: 34.95%;
}

h1 {
    font-family: "Alegreya", serif;
    font-size: 55.8px;
    font-weight: 100;
    margin-bottom: 4.5%;

}

.p1 {
    color: #ffffff;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 18px;

}

.fii {
    width: 567px;
    display: inline-block;
    margin-left: 10%;
}

.story {
    display: inline-block;
    width: 38%;
    margin-left: 4.9%;
    vertical-align: top;
    padding-top: 52px;
}

.fp {
    display: inline-block;
    font-family: "Alegreya Sans", sans-serif;
    color: rgb(109, 109, 109);
    line-height: 1.8;
    font-size: 17.8px;
    word-spacing: 1.5px;
}

.h2 {
    display: block;
    font-family: "Alegreya", serif;
    font-size: 33px;
    font-weight: 100;
    color: rgb(37, 36, 36);
    margin-bottom: 2%;
}

.why {
    background-color: #f8f8f8;
    height: fit-content;
    margin-top: 80px;
}

.inbox {
    vertical-align: top;
    text-align: center;
    padding-top: 76px;
}

.fa-solid {
    font-size: 37px;
    display: block;
    color: #8e7754;
}

.h3 {
    display: block;
    font-family: "Alegreya", serif;
    font-size: 30px;
    font-weight: 100;
    color: rgb(37, 36, 36);
    margin-bottom: 1.6%;
}

.p3 {
    font-family: "Alegreya Sans", sans-serif;
    color: rgb(109, 109, 109);
    font-size: 17.2px;
}

.para {

    display: inline-block;
    width: 31%;
    margin-left: 19px;
    font-family: "Alegreya Sans", sans-serif;
    color: rgb(109, 109, 109);
    font-size: 17.4px;
    line-height: 1.8;
    padding-bottom: 1%;
}

.paras {
    width: 84%;
    display: inline-block;
    margin-left: 10.2%;
    margin-top: 2%;
    padding-bottom: 4%;
}

.para1,
.para4 {
    display: inline-block;
    width: 31%;
    font-family: "Alegreya Sans", sans-serif;
    color: rgb(109, 109, 109);
    font-size: 17.4px;
    line-height: 1.8;
}

h4 {
    color: rgb(51, 51, 51);
    font-family: "Alegreya", serif;
    font-weight: 100;
    font-size: 17.9px;
    margin-bottom: 3.5%;
}

.paras p {
    margin-top: 0;

}

.icons {
    background-color: rgb(142 119 84);
    width: 100%;
    height: 340px;
}

.icons2 {
    /* background-color: rgb(32, 41, 163); */
    width: 70%;
    margin-left: 16.5%;
    padding-top: 6%;
    height: 68.8%;


}

.faa {
    font-size: 33px;
    display: block;
    color: #ffffff;
    font-weight: lighter;
}

.ic {
    display: inline-block;
    width: 10%;
    margin-left: 19%;
    align-items: center;
    text-align: center;
}

.ic1 {
    display: inline-block;
    width: 9%;
    align-items: center;
    text-align: center;
}

.ph {
    font-size: 52px;
    padding-top: 19px;
    color: white;
    font-family: "Alegreya", serif;
    margin-top: 0;
    margin-bottom: 0;

}

.pp {
    font-size: 20px;
    padding-top: 17px;
    margin-top: 0%;
    color: rgb(224, 224, 224);
    /* font-weight: 300; */
    font-family: "Alegreya Sans", sans-serif;
}

.cb {
    background-color: #403d38;
    height: fit-content;
}

.contactinfo {
    width: 80%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 2%;
    margin-left: 10%;

    /* background-color: aquamarine; */
}

.c {
    width: 23%;
    display: inline-block;
    margin-left: 2%;
    height: 15%;
    vertical-align: top;
    letter-spacing: 0.1px;
    /* background-color: #969696; */
}


.c1 {
    padding-top: 0.2%;
    margin-left: 0;
}

.c44 {
    padding-top: 0.2%;
    vertical-align: top;
    
}
.c4 {
    background-image: url(images/contact-details-map.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: fit-content;
}

.hs {
    color: white;
    font-size: 1.1rem;
    font-family: "Alegreya", serif;
    font-weight: 100;
    text-align: left;
    vertical-align: top;

}

.ps {
    font-family: "Alegreya Sans", sans-serif;
    color: #969696;
    font-size: 16px;
    list-style: none;
    vertical-align: left;
    line-height: 1.9;
    margin-top: 8%;
    /* background-color: #8e7754; */
}



.final {
    background-color: #353330;
    margin-top: 0;
    height: 46%;

}

.fi {
    width: 345px;
    margin: 70 auto;
    display: inline-block;
    margin-left: 38%;
    margin-bottom: 2%;
    margin-top: 4.7%;

}

.pa {
    text-align: center;
    font-family: "Alegreya", serif;
    color: #969696;
    font-size: 0.9rem;
    margin: auto;
    display: block;
}

.pl {
    font-family: "Alegreya Sans", sans-serif;
    text-align: left;
    font-size: 1.1rem;
    color: rgb(101, 103, 103);
    line-height: 1.77;
    margin-bottom: 1px;
}

.fi2 {
    width: 350px;
    margin: 30px auto;
    display: inline-block;
    margin-left: 43.7%;
    margin-bottom: 3%;
}

.fil {
    display: inline-block;
    font-size: 19px;
    color: #8c8a86;

}

.border {
    padding: 10px 8px;
    padding-bottom: 5px;
    border-radius: 800px;
    height: 23px;
    background-color: #484540;
    width: fit-content;
    display: inline-block;
    margin-left: 5px;
}

.border:hover {
    transition: 0.5s;
    background-color: rgb(46, 107, 183);
}

.faa2:hover {
    color: white;
}

.faa2 {
    width: fit-content;
}

.conl2::before,
.conl3::before {
    content: '>';
    position: relative;
    left: -7px;
}

.conl2 {
    list-style: none;
    line-height: 3;
    text-align: left;
    font-size: 15.5px;
    color: #969696;
    border-bottom: 0.6px solid rgba(79, 76, 76, 0.7);
    padding: 4px;
    font-family: "Alegreya Sans", sans-serif;
}

.conl3 {
    list-style: none;
    line-height: 3;
    text-align: left;
    font-size: 15.5px;
    color: #969696;
    border-bottom: none;
    padding: 4px;
    font-family: "Alegreya Sans", sans-serif;
}