body {
    margin: 0;
    padding: 0;
}
.background {
    background-image: url(images/drew-coffman-1872.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -13.3%;

}

.backgroundd {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 1200px;
    margin-top: -65.8%;
}

.bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 1%;
    z-index: 12;
}

.logo {
    /* background-color: aqua; */
    display: inline-block;
    margin-left: 10.2%;
    padding-top: 20px;
    vertical-align: top;
}

a:hover {
    color: #161616;
    transition: 0.5s;
    font-weight: normal;

}

a:visited {
    color: none;
}

.lil {
    width: 50%;
    display: inline-block;
    margin-left: 22.8%;
    padding-left: 2%;
    padding-top: 16px;


}

a {
    text-decoration: none;
    display: inline-block;
    padding-left: 25px;
    font-size: 17px;
    color: grey;
    font-family: "Alegreya", serif;
    width: fit-content;
    font-weight: normal;
}

.l3 {
    display: inline-block;
}

.li1 {
    margin-left: 24%;
}

.middle {
    margin: 73% auto;
    color: #ffffff;
    width: 30%;
    text-align: center;
    margin-left: 34.97%;
}

h1 {
    font-family: "Alegreya", serif;
    font-size: 55.9px;
    font-weight: 100;
    margin-bottom: 1%;

}

.p1 {
    color: rgba(255, 253, 250, 0.6);
    font-family: "Alegreya Sans", sans-serif;
    font-size: 15px;
    padding-left: 8px;
    display: inline-block;
    font-weight: 500;

}
.p11 {
    color: rgba(255, 253, 250, 0.6);
    font-family: "Alegreya Sans", sans-serif;
    font-size: 15px;
    padding-left: 8px;
    display: inline-block;
    font-weight: 500;

}
.p1:hover{
    color: #ffffff;
}

.link{
    margin-left: 87px;
    width: 60%;
}

.white {
    background-color: white;
    display: block;
    width: 100%;
    height: 100vh;
    z-index: 2;
    margin-top: -13.3%;
    margin-bottom: 16.5%;
}
.content{
    margin: auto;
    width: 82%;
    display: block;
    position: absolute;
    margin-top: 4.5%;
    left: 9.4%;
}
.c1{
    width: 32%;
    display: inline-block;
    padding-left: 11.6px;
    margin-bottom: 28.7px;
}
.d{
    border-bottom:0.9px solid rgba(148, 148, 148, 0.2);
    height: 25px;
    padding-bottom:25px ;
    width: 96%;
}
.ch{
    font-size: 17.2px;
    font-weight: 100;
    color: #454343;
    float: left;
    letter-spacing: 0.3px;
}
.price{
    color:rgb(118, 118, 118);
    float:right;
    font-size: 18px;
    font-weight: 100;
    font-family: "Alegreya", serif;
    margin-top: 11px;
}
.cp{
    font-family: "Alegreya Sans", sans-serif;
    font-size: 17px;
    color:rgb(106, 106, 106);
    line-height: 1.9;
    word-spacing: 0.1px;
    margin-top: 17px;
    padding-left: 0;
}
.cb {
    background-color: #403d38;
    height: fit-content;
}

.contactinfo {
    width: 83%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 2%;
    margin-left: 10%;

    /* background-color: aquamarine; */
}

.c {
    width: 23%;
    display: inline-block;
    margin-left: 2%;
    height: 15%;
    vertical-align: top;
    letter-spacing: 0.1px;
    /* background-color: #969696; */
}


.c1 {
    padding-top: 0.2%;
    margin-left: 0;
}

.c44 {
    padding-top: 0.2%;
    vertical-align: top;
    
}
.c4 {
    background-image: url(images/contact-details-map.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: fit-content;
}

.hs {
    color: white;
    font-size: 1.1rem;
    font-family: "Alegreya", serif;
    font-weight: 100;
    text-align: left;
    vertical-align: top;

}

.ps {
    font-family: "Alegreya Sans", sans-serif;
    color: #969696;
    font-size: 16px;
    list-style: none;
    vertical-align: left;
    line-height: 1.9;
    margin-top: 8%;
    /* background-color: #8e7754; */
}


.final {
    background-color: #353330;
    margin-top: 0;
    height: 46%;

}

.fi {
    width: 345px;
    margin: 70 auto;
    display: inline-block;
    margin-left: 38%;
    margin-bottom: 2%;
    margin-top: 4.7%;

}

.pa {
    text-align: center;
    font-family: "Alegreya", serif;
    color: #969696;
    font-size: 0.9rem;
    margin: auto;
    display: block;
}

.pl {
    font-family: "Alegreya Sans", sans-serif;
    text-align: left;
    font-size: 1.1rem;
    color: rgb(101, 103, 103);
    line-height: 1.77;
    margin-bottom: 1px;
}

.fi2 {
    width: 350px;
    margin: 30px auto;
    display: inline-block;
    margin-left: 43.7%;
    margin-bottom: 3%;
}

.fil {
    display: inline-block;
    font-size: 19px;
    color: #8c8a86;

}

.border {
    padding: 10px 8px;
    padding-bottom: 5px;
    border-radius: 800px;
    height: 23px;
    background-color: #484540;
    width: fit-content;
    display: inline-block;
    margin-left: 5px;
}

.border:hover {
    transition: 0.5s;
    background-color: rgb(46, 107, 183);
}

.faa2:hover {
    color: white;
}

.faa2 {
    width: fit-content;
}

.conl2::before,
.conl3::before {
    content: '>';
    position: relative;
    left: -7px;
}

.conl2 {
    list-style: none;
    line-height: 3;
    text-align: left;
    font-size: 15.5px;
    color: #969696;
    border-bottom: 0.6px solid rgba(79, 76, 76, 0.7);
    padding: 1px;
    font-family: "Alegreya Sans", sans-serif;
}

.conl3 {
    list-style: none;
    line-height: 3;
    text-align: left;
    font-size: 15.5px;
    color: #969696;
    border-bottom: none;
    padding: 4px;
    font-family: "Alegreya Sans", sans-serif;
}